<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="Contact.css">
<title>Shop</title>
</head>
<header class="header">
			<img src="images/logo.png" alt="logo" class="logo">
            <a class="logo" >MaketeOÜ</a>
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>
            <ul class="menu">
                <li>
				<a href="Home.html" class="effect-underline">Home</a>
				</li>
				
                <li>
				<a href="Portfolio.html" class="effect-underline">Portfolio</a>
				</li>
				
                <li>
				<a href="Contact.html" class="effect-underline">Contact</a>
				</li>
				
				<li>
				<a href="Shop.html" class="effect-underline">Shop</a>
				</li>
				
				<li>
				<a href="Login.html" class="effect-underline">Login</a>
				</li>
            </ul>
        </header>

<body>
</body>
</html>
